/*
	Portmanteau Agency - Website By Kerri Lush
	https://kerrilu.sh
	hello@kerrilu.sh
*/

* {
	padding: 0;
	margin: 0;
}

body,
td,
th {
	color: #ffffff;
	font-size: 15px;
	text-align: justify;
}

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background-color: #000000;
	background-attachment: scroll;
	background-position: top;
	background-repeat: no-repeat;
}

a:link {
	color: #b0b0b0;
	text-decoration:none;
}

a:visited {
	color: #b0b0b0;
	text-decoration:none;
}

a:hover {
	color: #eeeeee;
	text-decoration:none;
}

a:active {
	color: #b0b0b0;
	text-decoration:none;
}

img {
	border: 0px;
}

.alignleft, 
img.alignleft {
	display: inline;
	float: left;
}

.alignright, 
img.alignright {
	display: inline;
	float: right;
}

.aligncenter, 
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom: 5px;
}

#container {
	width: 100%;
	overflow: visible;
}

.limit {
	width: 1000px;
	margin: 0 auto;
}

#header {
	height: 80px;
	padding: 20px 0;
	margin: 0 auto;
	background-color: #1c1c1c;
}

#logo {
	float: left;
	width: 340px;
	height: 80px;
	list-style-type: none;
	z-index: 100;
	background-image: url(/images/Header_PortmanteauLogo.png);
}

#logo span {
	display: none;
}

#logo a {
	display: block;
	height: 80px;
}

#logo .logo1 {
	width: 340px;
	margin: 0 auto;
}	

#social {
	float: right;
	height: 80px;
}

#facebook_icon {
	width: 32px;
	height: 32px;
	float: left;
	margin: 22px 10px 0 0;
	background-image: url(/images/Social_Facebook.png);
}

#twitter_icon {
	width: 32px;
	height: 32px;
	float: left;
	margin: 22px 0 0 0;
	background-image: url(/images/Social_Twitter.png);
}

#content {
	clear: both;
	padding: 20px 0;
	margin: 0 auto;
}

#portmanteaubacking {
	background-image: url(/images/Container_BG_trans.png);
	background-position: top;
	background-repeat: no-repeat;
}

.featured_wrapper {
	width: 100%;
	clear: both;
	padding: 20px 0;
	margin: 20px auto;
	background-color: #1c1c1c;
}

.exclaim {
	font-size: 52px;
	font-weight: lighter;
	line-height: 68px;
}

.exclaim_half {
	font-size: 21px;
	font-weight: lighter;
	line-height: 34px;
}	

.focus_container {
	width: 1000px;
	height: 335px;
	margin: 20px auto 0;
	border-right: 5px solid #1c1c1c;
	overflow: hidden;
}

.focus_container dl {
	margin: 10px auto 0;
}

.focus_img {
	float: left;
	width: 600px;
}

.focus_text {
	float: right;
	width: 360px;
	margin: 0 0 0 0;
}

#footer {
	width: 100%;
	height: 200px;
	padding: 20px 0 20px;
	margin: 0 auto;
	background-color: #1c1c1c;
	clear: both;
}

dl {
	display: block;
}

dt {
	float: left;
	width: 100px;
	color: #b0b0b0;
}

dd {
	margin-left: 100px;
}
