@media (min-width: $screen-sm-min) {
	.placements {
		.row {
			&:last-of-type {
				.placement {
					padding-bottom: 0;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.placement {
		margin-top: $padding;
		padding-top: $padding;
	}

	.row {
		&:first-of-type {
			.placement {
				margin-top: 0;
			}
		}

		&:last-of-type {
			.placement {
				padding-top: 0;
				padding-bottom: 0;

				dl {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
	}
}
