.placements {
	padding: $padding;
}

.placement {
	padding-bottom: $padding;

	img {
		max-width: 100%;
	}
	
	dl {
		margin-top: $padding;
		margin-right: auto;
		margin-bottom: $padding;
		margin-left: auto;
	}

	dd {
		text-align: left;
	}
}
