body {
	color: $portmanteau-white;
	font-size: $font-size-base;
	text-align: justify;
	font-family: $font-family-sans-serif;
	background-color: $portmanteau-black;
}

.container {
	padding-left: $padding;
	padding-right: $padding;
}

.feature {
	margin-top: $padding;
	padding: $padding;
	background-color: $portmanteau-grey;
}
