header {
	padding: $padding;
	background-color: $portmanteau-grey;
	min-height: 80px;
}

.logo {
	float: left;
	text-align: left;
}

.social {
	float: right;
	text-align: right;

	a {
		display: inline-block;
		height: 100%;
		margin: 20px 10px;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	img {
		width: 48px;
		height: 48px;
	}
}
