@media (min-width: $screen-md-min) {
	header {
		height: 34vh;
		position: relative;

		.container {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding-bottom: $padding;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.logo {
		a {
			width: 337px;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.logo,
	.social {
		clear: both;
		float: none;
		text-align: center;
	}

	.logo {
		img {
			margin: 0 auto;
		}
	}
}
